.weather {
  position: relative;
  display: flex;
  height: 80px;
}

.weather__info {
  margin: 0;
  font-family: "CabinetGrotesk-Bold";
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: #fff;
  position: absolute;
  top: 20px;
  left: 16px;
}

.weather__image {
  max-width: 100%;
}
