.sidebar {
  align-items: center;
  display: flex;
  padding-top: 12px;
  margin-right: 116px;
  flex-direction: column;
}

.sidebar__user-container {
  display: flex;
  flex-direction: row;
}
.sidebar__button-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.sidebar__button {
  font-family: "CabinetGrotesk-Bold";
  font-weight: 700;
  font-size: 20px;
  line-height: 24.8px;
  border: none;
  padding-left: none;
  background-color: #f3f3f3;
  cursor: pointer;
}

.sidebar__username {
  font-family: "CabinetGrotesk-Bold";
  font-weight: 700;
  font-size: 20px;
  line-height: 24.8px;
  margin-left: 16px;
  margin-top: 0;
  margin-bottom: 0;
  text-wrap: nowrap;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
}
